body{
    padding-top: 50px;
}

.mc-content {
    width: 55%;
    margin: 0 auto;
}

.mc-title {
    height: 100px;
    width: 70%;
    margin: 0 auto;
}
.mc-chart{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}